﻿@using DataLayer.Repositories
@model DataLayer.Data.Studio

@{
    ViewBag.Title = "AddStudio";
    var srepo = new StudioRepositroy();
    var studios = srepo.GetAllStudios();
    studios = studios.OrderBy(m => m.Name).ToList();
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Studio</h3>
        @Html.ActionLink("Return to Add DVD", "AddDvd", "Home", new {@class = "btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new {id = "AddStudio"}))
        {
            <div class="form-group">
                <label>Studio Name</label>
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Current Studios</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var studio in studios)
            {
                <tr class="success">
                    <td>@studio.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/App/jquery-validate-defaults.js"></script>
    <script src="~/scripts/App/AddStudioValidation.js"></script>
}